*
{
    font-family: 'Dancing Script', cursive;
    font-family: 'Irish Grover', cursive;
    font-family: 'Kalam', cursive;
}

html, body
{
    height: 100%;
}

body
{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer
{
    box-shadow: 0 -.5rem 1rem rgba(0, 0, 0, 0.15);
}

