{% extends "base.html.twig" %}

{% block title %}- Accueil{% endblock %}

{% block h1 %}Mes préférences du moment{% endblock %}

{% block main %}
    <div class="d-flex justify-content-end align-items-center">
        <a href="{{ path('song.create') }}" class="btn btn-primary">Nouveau son</a>
    </div>
{% endblock %}

